Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
enc_temp_folder/35ab8fdb5239680dd128a27f4fbb/Player_Character.cpp
enc_temp_folder/6a8aa41f772b813c82b0796ad11bd2c3/C_AK47PickUp.cpp
enc_temp_folder/d4e8681bdc14e8aab9e5e66eb125c5/Player_Character.h
enc_temp_folder/85bf2059eb217f0a685c25bddedd9/C_AK47PickUp.h
Source/Parkour_Project/C_AK47PickUp.cpp
enc_temp_folder/5bda1ab62c454ad1ad88f62b4f249e/C_AK47PickUp.cpp
enc_temp_folder/d4e8681bdc14e8aab9e5e66eb125c5/Player_Character.h
